.innerContainer
    max-height: 420px
    height: 420px
    display: flex
    justify-content: center
    align-items: center

    & > div
        height: 100%

        & > div
            height: 100%

.noPhotos
    text-align: center
    height: 90%
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.coverPhotosList
    display: flex
    flex-wrap: wrap
    margin: 0

    li
        flex-basis: calc(25%)
        padding: 0 2px

        &:hover
            img
                opacity: .8

        img
            width: 100%
            object-fit: cover
            cursor: pointer
            border-radius: var(--border-radius)
            height: auto

.dialogFooter
    display: flex
    justify-content: flex-end
    padding-top: 12px
    border-top: 1px solid var(--border-color)
