.contextMenu
    margin: 0
    padding: 5px !important
    cursor: default

    .menuList
        li
            a
                border-radius: var(--border-radius)
                padding: 2px 8px
                display: block
                width: 100%
                color: var(--link-color)
                text-decoration: none
                white-space: nowrap

                &:hover
                    color: var(--link-color-hover)
                    background-color: var(--body-background)

            &.divider
                border-radius: 0
                border-bottom: var(--input-border)
                margin-bottom: 4px
                padding-bottom: 4px
