@import ../../styles/variables

.component
  display: flex
  flex-wrap: wrap
  margin: 10px -8px -8px

.emptyList
  text-align: center
  padding: 50px

.placesListItem
  position: relative
  background: #fff
  border-radius: $borderRadius
  box-shadow: $boxShadow3
  height: 345px
  max-width: 300px
  overflow: hidden
  flex-basis: calc(33.3333% - 15px)
  margin: 7.5px

  @media only screen and (max-width: $mobileMaxWidth)
    flex-basis: 100%
    max-width: 100%
    height: 402px

  //&:hover
    //box-shadow: 0 0 15px rgba(0, 0, 0, .2)

  .photoSection
    position: relative
    height: 180px
    background-image: url('/images/no-image.svg')
    background-position: center
    background-size: cover

    @media only screen and (max-width: $mobileMaxWidth)
      height: 220px

    & > a
      display: block
      width: 100%
      height: 100%

    .rating
      position: absolute
      right: 8px
      top: 8px
      font-size: $fontSizeParagraph

    .categoryIcon
      position: absolute
      left: 8px
      top: 8px

    .photo
      width: 100%
      border-top-left-radius: $borderRadius
      border-top-right-radius: $borderRadius
      object-fit: cover
      margin-bottom: -5px

      @media only screen and (max-width: $mobileMaxWidth)
        height: 220px

    .bottomPanel
      position: absolute
      bottom: 10px
      left: 10px
      display: flex

  .title
    margin: 10px 10px 0
    white-space: pre
    text-overflow: ellipsis
    overflow: hidden
    max-width: 100%

    a
      color: $colorTextMain
      text-decoration: none
      font-weight: 500

  .address
    margin: 0 10px 5px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    font-size: $fontSizeHeadline
    color: $colorTextSecond

    a
      color: $colorTextSecond

  p
    margin: 0 10px 10px

    &:after
      content: ''
      height: 15%
      width: 100%
      bottom: 0
      z-index: 1
      position: absolute
      left: 0
      background-image: linear-gradient(to top,#fff,rgba(255,255,255,0))
      background-color: transparent
      pointer-events: none

  .emptyContent
    color: $colorTextSecond
    margin-top: 50px
    text-align: center
