@use '../../../styles/variables' as variables

.component
    display: flex
    flex-direction: column
    align-items: center
    padding: 40px 16px
    text-align: center

    .image
        width: min(330px, 60vw)
        height: auto

    .title
        margin: 16px 0 6px
        font-size: variables.$fontSizeTitleH2
        font-weight: 600
        color: var(--text-color-primary)

    .description
        margin: 0
        color: var(--text-color-secondary)
