@import ../../styles/variables

.autocomplete
  display: block

  .label
    display: block
    color: #6d7885
    overflow: hidden
    padding-bottom: 6px
    padding-top: 2px
    text-overflow: ellipsis
    white-space: nowrap
    font-size: 13px

  .loader
    width: 18px !important
    height: 18px !important

  .container
    position: relative

    .searchContainer
      width: 100%
      line-height: 20px
      position: relative
      background-color: #f2f3f5
      -webkit-tap-highlight-color: transparent
      align-items: center
      border-radius: $borderRadius
      box-sizing: border-box
      border: 1px solid #e0e0e0
      color: $colorTextMain
      height: 36px
      margin: 0
      padding: 0 12px 0 0
      display: flex
      justify-content: space-between

      .searchInput
        background: transparent
        border: none
        outline: none
        width: 90%
        height: inherit
        padding-left: 12px

      &:focus, &:active, &:hover
        border-color: #c2c2c2

      &.selected
        color: #000

      span
        overflow: hidden
        white-space: nowrap
        display: block
        text-overflow: ellipsis

        img
          width: 18px
          height: 20px
          margin-right: 5px
          float: left

      .arrow
        display: flex
        margin-top: 1px

        svg
          width: 24px
          height: 24px
          fill: #6d7885

      .clear, .toggleButton
        background: transparent
        border: none
        margin: 0
        padding: 0
        cursor: pointer

        svg
          margin-top: 2px
          width: 18px !important
          height: 18px !important

          &:hover
            fill: #3d434b

    &.open
      .searchContainer
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

    &.disabled
      opacity: .5
      cursor: default

    .optionsList
      position: absolute
      background-color: #FFFFFF
      box-shadow: 0 0 2px rgba(0,0,0,0), 0 4px 16px rgba(0,0,0,.08)
      border: 1px solid #e0e0e0
      list-style: none
      padding: 0
      width: 100%
      z-index: 1
      top: 35px
      border-bottom-left-radius: 8px
      border-bottom-right-radius: 8px
      max-height: 200px
      overflow: hidden
      overflow-y: scroll

      li
        font-size: 13px

        button
          margin: 0
          padding: 8px 10px
          height: 100%
          width: 100%
          cursor: pointer
          background: transparent
          border: none
          text-align: left
          display: flex
          align-items: center

          img
            width: 14px
            height: 15px
            margin-right: 4px

        &:hover, &.active
          background-color: #f2f3f5

        &:last-of-type
          border-bottom-left-radius: 8px
          border-bottom-right-radius: 8px

      .emptyItem
        padding: 8px 10px
