.placesListItem
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  max-width: 580px
  box-shadow: 0 1px 2px rgba(0,0,0,.1)
  overflow: hidden
  flex: 1 0 21%
  margin: 5px

  .header
    position: relative
    flex-shrink: 0
    height: 160px
    border-radius: 3px 3px 0 0
    overflow: hidden
    width: 100%
    background-color: #D5E9CB

    .categoryIcon
      position: absolute
      top: 5px
      left: 5px

    .icon
      font-size: 11px
      margin-right: 5px
      vertical-align: middle
      margin-top: -1px

    .link
      display: inline-block
      width: 100%
      height: 100%

    .photo
      width: 100%
      height: inherit
      object-fit: cover

    .headerBottom
      position: absolute
      bottom: 5px
      padding: 0 5px
      display: flex
      font-size: 10px

      .element
        color: white
        padding: 0 4px
        background: rgba(0, 0, 0, .3)
        margin-right: 5px

      .rating
        color: rgb(250, 175, 0)
        font-size: 13px

      .distance

  .content
    padding: 0.4em 0.5em 0
    background: #FFF
    height: 158px

    .title
      margin: 0 0 5px
      font-weight: 600

    .description
      margin: 0

      &:after
        content: ''
        height: 15%
        width: 100%
        bottom: 0
        z-index: 1
        position: absolute
        left: 0
        background-color: #fff
        background-image: -webkit-linear-gradient(bottom,#fff,rgba(255,255,255,0))
        background-image: linear-gradient(to top,#fff,rgba(255,255,255,0))
        background-color: transparent
        pointer-events: none

