body
  background: #ebedf0

a
  color: #2688eb
  cursor: pointer
  text-decoration: none
  outline: none

  &:hover
    text-decoration: underline

/* Text formatting in the place content */
.placeContent
  p
    margin: 0

  h1, h2, h3, h4, h5, h6
    margin: 0
    line-height: 15px
    font-weight: 500

  blockquote
    background: #f9f9f9
    border-left: 10px solid #ccc
    margin: 0 10px 0
    padding: 0 0 0 10px

    p
      margin: -10px 0

/* Markdown Content Editor */
.markdownEditorContent, .placeContent
  font-size: 14px
  font-family: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif
  font-weight: 400
  line-height: 1.43
  font-weight: 400
  white-space: break-spaces
  color: rgba(0, 0, 0, 0.87)

  h1, h2, h3, h4, h5, h6
    margin: 0
    line-height: 15px
    font-weight: 500

.photos
  position: absolute
  bottom: 0
  width: 100%

.leaflet-marker-pane
  .poiPhoto
    border-radius: 50%
    border: 1px solid #FFF

.leaflet-left
  .leaflet-bar, .leaflet-control-layers
    background-color: #fff !important
    border: 1px solid #999 !important
    border-color: rgba(0,0,0,.2) !important
    border-radius: 3px
    box-shadow: none !important

    a
      color: #404040
      color: rgba(0,0,0,.75)
      border-bottom: 1px solid #ddd
      border-bottom-color: rgba(0,0,0,.1)
      width: 25px !important
      height: 25px !important
      font-size: 17px !important
      line-height: 22px !important

.react-photo-gallery--gallery
  img
    object-fit: cover
    max-height: 400px
    border-radius: 4px

/* TODO: for activity place history changes */
.red
  color: #ed5151

.green
  color: green

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline
  outline: none !important
  border-width: 0.5px !important
  border-color: #1976d2 !important
  box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 0.05rem !important
