body
  background: #edeef0

a
  color: #2688eb
  cursor: pointer
  text-decoration: none
  outline: none

  &:hover
    text-decoration: underline

.photos
  position: absolute
  bottom: 0
  width: 100%

.leaflet-left
  .leaflet-bar, .leaflet-control-layers
    background-color: #fff !important
    border: 1px solid #999 !important
    border-color: rgba(0,0,0,.2) !important
    border-radius: 3px
    box-shadow: none !important

    a
      color: #404040
      color: rgba(0,0,0,.75)
      border-bottom: 1px solid #ddd
      border-bottom-color: rgba(0,0,0,.1)
      width: 25px !important
      height: 25px !important
      font-size: 17px !important
      line-height: 22px !important

.react-photo-gallery--gallery
  img
    object-fit: cover
    max-height: 400px
