:root {
    --font-size: 14px;
    --font-family: -apple-system, system-ui, 'Helvetica Neue', Roboto,
        sans-serif;
    --letter-spacing: 0.00938em;

    --width-max: 1100px;
    --width-menu: 230px;

    --body-background: #ebedf0;

    --modal-background: #ffffff;

    --menu-background-hover: rgba(255, 255, 255, 0.7);

    --border-radius: 4px;

    --text-main-color: rgba(0, 0, 0, 0.9);
    --text-second-color: #616161;

    --input-background-color: #f2f3f5;
    --input-label-color: #6d7885;
    --input-border: 0.5px solid #cbcccd;
    --input-border-focus-color: #1976d2;

    --link-color: #2688eb;
    --link-color-hover: #2483e4;
    --link-color-active: #237edd;

    --container-background: #fff;
    --container-border-separator: 0.5px solid #d7d8d9;
    --container-shadow: inset 0 0 0 0.5px rgba(0, 0, 0, 0.12);

    --overlay-background: rgba(242, 243, 252, 0.7);

    --button-default-background: transparent;
    --button-default-color: #3770b1;
    --button-default-background-hover: #f7f8fa;
    --button-default-background-active: #f1f2f5;
    --button-primary-background: #447bba;
    --button-primary-color: #ffffff;
    --button-primary-background-hover: #4177b5;
    --button-primary-background-active: #3f72b0;
    --button-negative-background: #e64646;
    --button-negative-color: #ffffff;
    --button-negative-background-hover: #DD4446;
    --button-negative-background-active: #D44245;
    --button-secondary-background: rgba(235,242,250,.99);
    --button-secondary-color: #3770b1;
    --button-secondary-background-hover: rgba(223,234,246,.99);
    --button-secondary-color-hover: #356cac;
    --button-secondary-background-active: rgba(213,226,241,.99);
    --button-secondary-color-active: #3368a8;
}
