$fontSizeTitleH1: 1.2em
$fontSizeTitleH2: 1.1em
$fontSizeHeadline: 0.9em
$fontSizeParagraph: 0.95em
$fontSizeCaption: 0.8em

$mobileMaxWidth: 768px

$boxShadow1: 0 0 2px rgba(0,0,0,.08), 0 4px 16px rgba(0,0,0,.08)
$boxShadow2: 0 0 2px rgba(0,0,0,0), 0 4px 16px rgba(0,0,0,.08)
$boxShadow4: 0 0 8px rgba(0,0,0,.12), 0 16px 16px rgba(0,0,0,.16)
$boxShadow5: 0 0 2px rgba(0, 0, 0, 0.08), 0 4px 16px rgba(0, 0, 0, 0.08)

$overlayBackground: rgba(0,0,0,.4)
