@import ../../../styles/variables

.historicalPhoto
  border-radius: $borderRadius
  border: 1px solid #fdedb9
  object-fit: cover
  background-image: url('/images/no-image.svg')
  background-position: center
  background-size: cover
  background-color: $inputBackgroundColor
