@import ../../styles/variables

.component
    color: $colorTextMain
    background-color: $boxBackground
    padding: 8px 15px
    box-shadow: $boxShadow
    height: 60px
    display: flex

    .title
        margin: 0
        font-size: 1.2857142857142856rem
        line-height: 1.334

    .hamburgerButton
        border: none
        background: transparent
        padding: 0
        margin-right: 20px
        cursor: pointer

        svg
            width: 32px
            height: 32px
