@import ../../styles/variables

.component
    position: relative
    z-index: 450
    color: $colorTextMain
    background-color: $boxBackground
    padding: 8px 15px
    //box-shadow: $boxShadow
    box-shadow: 0 0 2px rgba(0,0,0,.08), 0 4px 16px rgba(0,0,0,.08)
    height: 60px
    display: flex

    .title
        margin: 0
        font-size: 1.2857142857142856rem
        line-height: 1.334

    .hamburgerButton
        border: none
        background: transparent
        padding: 0
        margin-right: 20px
        cursor: pointer
        opacity: .7
        transition: opacity .3s

        &:hover
            opacity: 1

        svg
            width: 24px
            height: 24px
