@import ../../styles/variables

.header
  display: flex
  padding: 8px 12px !important
  align-items: center

  &.attachedBottom
    margin-top: 0
    border-top-right-radius: 0
    border-top-left-radius: 0

  .backLink
    padding: 4px 6px
    margin-right: 5px

    svg
      opacity: .6
      height: 26px
      width: 26px
      fill: #818c99
      margin: 0 -5px 0 -5px !important

  .actions
    display: flex
    align-items: center
    margin-left: auto

    button
      margin-left: 10px
