@import ../../styles/variables

.editor
  &:global([class^="_editorRoot"]:not([class*="_editorWrapper"]))
    display: none

  & > div:nth-child(2)

    & > div > div > div:nth-child(2)
      display: none

  [role="toolbar"]
    background-color: #f7f8fa
    display: flex
    margin-bottom: -6px
    border-radius: 6px
    padding: 6px 6px 12px
    border: 0.5px solid $borderInputColor

    div
      display: flex

    button
      background-color: transparent
      background-image: none
      border: 0
      border-radius: 4px
      padding: 2px 6px

      &:hover
        background-color: #e6e8eb

      svg
        vertical-align: middle
        opacity: .5
        width: 20px

.markdownEditorContent
  padding: 2px 12px
  border: 0.5px solid $borderInputColor
  background-color: $inputBackgroundColor
  border-radius: 0 0 $borderRadius $borderRadius
  font-family: -apple-system,system-ui,"Helvetica Neue",Roboto,sans-serif
  font-weight: 400
  line-height: 1.43
  white-space: break-spaces
  color: rgba(0, 0, 0, 0.87)
  transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms

  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
    font-size: inherit
    font-weight: inherit

  &:focus, &:active
    outline: none
    border-color: $inputFocusBorderColor
    //box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 0.05rem
