@import ../../styles/variables

.component
  padding: 8px
  width: 100%
  color: #FFF
  background: rgba(0,0,0,.3)
  border-radius: $borderRadius
  box-shadow: 0 0 0 1px rgba(0,0,0,.12)
  display: flex

  svg
    fill: #FFF
