@import ../../styles/variables

.component
  padding: 2px 6px
  color: $colorTextMain
  background: rgba(255, 255, 255, .8)
  border-radius: $borderRadius
  display: flex
  align-items: center
  font-size: 0.89rem
  margin-right: 10px

  svg
    fill: $colorTextMain
    height: 16px
    margin-right: 5px
