@use '../../styles/variables' as variables

.activityContainer
    padding-bottom: 9px
    margin-top: 15px

    .userAvatar
        margin-bottom: 10px

    .content
        p:last-of-type
            margin-bottom: 0

        &.contentGallery
            padding-bottom: 15px

    .pointLink
        display: inline-block
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        padding-right: 5px

    .bottomBar
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 10px

        .viewCounter
            display: flex
            font-size: variables.$fontSizeCaption
            color: var(--text-color-secondary)
            align-items: center

            svg
                width: 16px
                height: 16px
                fill: var(--icon-color-secondary)
                margin-right: 5px
