@import ../../styles/variables

.button
  cursor: pointer
  padding: 6px 10px
  border: 0
  border-radius: $borderRadius
  min-height: 28px
  color: $colorButton
  background: transparent
  font-weight: 500
  display: flex
  align-content: center
  justify-content: center

  svg
    width: 16px
    height: 16px
    margin-right: 5px
    fill: $colorButton

  img
    margin-right: 5px

  &.stretched
    width: 100%

  &.noText
    svg
      margin-right: 0

  &:hover
    background-color: #f7f8fa

  &:active
    background-color: #f1f2f5

  &.s
    padding: 6px 10px
    height: 28px

  &.m
    padding: 8px 10px
    height: 34px

    svg
      width: 18px
      height: 18px

  &.primary
    background-color: #2688eb
    color: #ffffff

    svg
      fill: #ffffff

    &:hover
      background-color: #247fdc

  &.secondary
    background-color: rgba(0, 0, 0, 0.04)
    color: #2688eb

    &:hover
      background-color: rgba(0, 0, 0, 0.08)

  &[disabled]
    opacity: .64
    pointer-events: none !important
    cursor: not-allowed !important
