@import ../../styles/variables

.button
  cursor: pointer
  padding: 6px 10px
  border: 0
  border-radius: $borderRadius
  min-height: 28px
  color: $colorButton
  background: transparent
  font-weight: 600
  display: flex
  align-content: center

  svg
    width: 16px
    height: 16px
    margin-right: 5px
    fill: $colorButton

  &:hover
    background-color: #f7f8fa

  &:active
    background-color: #f1f2f5


