@import ../../styles/variables

.buttonLink
  text-decoration: none !important

.button
  cursor: pointer
  padding: 6px 10px
  border: 0
  font-size: 1em
  border-radius: $borderRadius
  min-height: 28px
  color: $colorButton
  background: transparent
  font-weight: 500
  display: flex
  align-content: center
  justify-content: center
  align-items: center
  outline: none
  font-family: inherit

  svg
    width: 16px
    height: 16px
    margin-right: 5px
    fill: $colorButton

  img
    margin-right: 5px

  &.stretched
    width: 100%

  &.noText
    svg
      margin-right: 0

  &:hover, &:focus
    background-color: #f7f8fa

  &:active
    background-color: #f1f2f5

  &.s
    padding: 6px 10px
    height: 28px
    line-height: 15px

    .loader
      height: 20px
      width: 20px
      margin-top: 0

  &.m
    padding: 8px 10px
    height: 34px

    svg
      width: 18px
      height: 18px

  &.primary
    background-color: #447bba
    color: #ffffff

    svg
      fill: #ffffff

    &:hover, &:focus
      background-color: #4177b5

    &:active
      background-color: #3f72b0

  &.secondary
    background-color: rgba(235,242,250,.99)
    color: #3770b1

    &:hover, &:focus
      background-color: rgba(223,234,246,.99)
      color: #356cac

    &:active
      background-color: rgba(213,226,241,.99)
      color: #3368a8

  &[disabled]
    opacity: .64
    pointer-events: none !important
    cursor: not-allowed !important
