@use '../styles/mixins' as variables

.twoColumns
    display: grid
    grid-template-columns: 1fr 1fr
    gap: var(--content-gap)
    align-items: start

    @media only screen and (max-width: variables.$mobileMaxWidth)
        grid-template-columns: 1fr
