@use '../../../styles/mixins' as variables

.dialog
    border-top: 4px solid var(--color-red)

.message
    color: var(--text-color-primary)
    font-size: var(--font-size-paragraph)

.actions
    display: flex
    gap: 10px
    justify-content: flex-end
    margin-top: 16px
