@import ../../styles/variables

.component
  .formElement
    margin-bottom: 10px

  .mapContainer
    height: 260px
    margin: 25px 0 10px
    position: relative

    .categoryImage
      left: 48.5%
      top: 44.5%
      position: absolute
      z-index: 401

  .formButtons
    display: flex
    margin-top: 20px
    flex-direction: row-reverse
