@import ../../styles/variables

.component
  .formElement
    margin-bottom: 10px

    label
      display: block
      color: #6d7885
      overflow: hidden
      padding-bottom: 6px
      padding-top: 2px
      text-overflow: ellipsis
      white-space: nowrap
      font-size: $fontSizeHeadline

  .mapContainer
    height: 300px
    margin: 25px 0 10px
    position: relative

    .categoryImage
      left: 48.6%
      top: 45%
      position: absolute
      z-index: 401

  .formButtons
    display: flex
    margin-top: 20px
    flex-direction: row-reverse
