@import ../../../styles/variables

.searchControl
  position: absolute
  z-index: 402
  top: 10px
  left: 56px
  min-width: 300px

  @media only screen and (max-width: var(--width-max-mobile))
    min-width: 240px

  & > div
    & > div
      background-color: #FFF !important

  ul
    top: 33px !important
    border-width: .5px !important
    box-shadow: none !important
