@use '../../styles/variables' as variables

.galleryContainer
    margin-top: 15px

    :global(.emptyList)
        margin: -15px !important

    & > a
        margin: 0px -4px
        display: block

.photoGallery
    display: flex
    flex-wrap: wrap

    &.marginTop
        margin-top: 5px

    .photoItem
        flex-basis: calc(25% - 4px)
        margin: 2px
        position: relative
        height: 150px
        border-radius: var(--border-radius)
        background-image: url('/images/no-image.svg')
        background-position: center
        background-size: cover

        @media only screen and (max-width: variables.$mobileMaxWidth)
            flex-basis: calc(50% - 4px)

        &.photoUpload
            background-image: none

            button
                height: 100%
                border-radius: var(--border-radius)

        &:hover
            .actions
                opacity: 1

        .link
            display: block
            width: 100%
            height: 100%
            font-size: 0

        img
            object-fit: cover
            width: 100%
            height: 100%
            border-radius: var(--border-radius)
            cursor: zoom-in

        .loader
            border-radius: var(--border-radius)
            position: absolute
            z-index: 2
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, .6)
            display: flex
            justify-content: center
            align-items: center

            svg
                width: 32px
                height: 32px

        .actions
            z-index: 1
            position: absolute
            top: 5px
            right: 5px
            opacity: 0
            transition: opacity .3s

            > button
                background-color: rgba(0, 0, 0, .6)
                padding: 8px

                svg
                    width: 16px
                    height: 16px
                    fill: #FFFFFF

            > div
                min-width: auto
                white-space: nowrap

                button
                    justify-content: flex-start
