@import ../../styles/variables

.loginForm
  .loginServiceButtons
    padding-bottom: 20px
    margin-bottom: 20px
    border: 0
    border-bottom: 0.5px solid #d7d8d9

    & > button
      margin-bottom: 10px

      &:last-of-type
        margin-bottom: 0

      img
        margin-bottom: 3px
        vertical-align: middle

  .formElement
    margin-bottom: 10px

  .actions
    display: flex
    justify-content: space-between
    align-items: center
    margin: 15px 0 0

    .divider
      color: $colorTextSecond
      margin: 0 10px
