@import ../../styles/variables

.loginForm
  .formElement
    margin-bottom: 10px

  .actions
    display: flex
    justify-content: space-between
    align-items: center
    margin: 15px 0 0

    .divider
      color: $colorTextSecond
      margin: 0 10px
