.markerPinPopup
    span
        font-size: 13px
        font-family: var(--font-family), serif
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        max-width: 300px
        display: block
        padding: 10px

    & > div:first-of-type
        border-radius: var(--border-radius)

        & > div
            margin: 0
            margin-right: -1px

        & > p
            margin: 0 !important

    & > a:first-of-type
        top: 6px
        right: 6px
