@import ../../../styles/variables

.component
  display: flex
  justify-content: space-between

  .information
    width: 55%

    li
      display: flex
      align-items: start
      margin-bottom: 10px
      font-size: $fontSizeHeadline

      &:last-of-type
        margin-bottom: 0

      svg
        width: 18px
        height: 18px
        fill: #99a2ad
        margin-right: 5px
        margin-top: 1px

      .key
        color: $colorTextSecond
        margin-right: 5px

      .value
        max-width: 80%
        min-width: 200px

  .mapLink
    display: inline-block
    margin-left: 10px
    margin-bottom: -2px
    vertical-align: middle

    &:last-of-type
      margin-left: 3px

  .map
    border: 1px solid #CCC
    border-radius: $borderRadius
    width: 40%
    flex-grow: 1
    min-width: 300px
