@use '../../../../styles/variables' as variables

.results
    display: flex
    flex-direction: column

.section
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: 6px
    padding-bottom: 6px
    border-bottom: .5px solid var(--input-border-color)

    &:last-child
        padding-bottom: 0
        border-bottom: none

.sectionTitle
    font-size: variables.$fontSizeTitleH2
    font-weight: 600
    color: var(--text-color-primary)

.locationList
    display: flex
    flex-direction: column
    gap: 4px

.placeList
    display: flex
    flex-direction: column
    gap: 8px
