@import ../../../styles/variables

.component
  margin-top: 15px
  border-radius: $borderRadius
  background-color: #FFFFFF
  position: relative
  box-shadow: $boxShadow3

  .content
    padding: 15px
    display: flex
    justify-content: space-between

    @media only screen and (max-width: $mobileMaxWidth)
      flex-direction: column

      ul
        margin-top: 20px

    .avatar
      min-width: 260px
      height: 240px
      display: block
      border-radius: $borderRadius
      border: 1px solid rgba(0,0,0,.08)
      margin-bottom: 5px
      background-image: url('/images/no-avatar.png')
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      object-fit: cover

      @media only screen and (max-width: $mobileMaxWidth)
        width: 100%

    .levelImage
      margin: 0 2px

    .information
      min-width: 260px

      li
        display: flex
        align-items: flex-start
        margin-bottom: 10px
        font-size: $fontSizeHeadline

        &:last-of-type
          margin-bottom: 0

        svg
          width: 18px
          height: 18px
          fill: #99a2ad
          margin-right: 5px
          margin-top: 1px

        .key
          color: $colorTextSecond
          margin-right: 5px

        .value
          display: flex

          a
            max-width: 120px
            display: block
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden

  .header
    padding: 8px 15px
    border-bottom-left-radius: $borderRadius
    border-bottom-right-radius: $borderRadius
    display: flex
    text-align: center
    justify-content: space-between
    border-top: 0.5px solid rgba(0, 0, 0, 0.12)

    .actions
      button
        margin-top: 4px
