@import ../../styles/variables

.usersListItem
  display: flex
  justify-content: flex-start
  align-items: center
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: .5px solid $borderBottomColor

  &:last-of-type
    margin-bottom: 0
    border-bottom: none
    padding-bottom: 0

  .avatar
    width: 33%
    min-width: 150px
    max-width: 200px

  .reputation
    display: flex
    align-items: center
    width: 33%
    min-width: 150px
    max-width: 200px

    p
      padding: 0
      line-height: 0
      margin-right: 10px

    @media only screen and (max-width: $mobileMaxWidth)
      width: 30px
      min-width: auto
      margin: 0 10px

      p
        display: none

  .level
    .levelImage
      margin: 0 2px 1px
      vertical-align: middle

    .progress
      margin-top: 4px
      width: 160px
