@import ../../styles/variables

.emptyList
  text-align: center
  padding: 50px

.usersListItem
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 10px
  padding-bottom: 10px
  border-bottom: .5px solid $borderBottomColor

  &:last-of-type
    margin-bottom: 0
    border-bottom: none
    padding-bottom: 0

  & > div
    width: 33%

    @media only screen and (max-width: $mobileMaxWidth)
      width: 50%

  .avatar

  .reputation
    display: flex
    align-items: center

    p
      padding: 0
      line-height: 0
      margin: 0 10px 0 0

    @media only screen and (max-width: $mobileMaxWidth)
      width: 30px
      min-width: auto
      margin: 0 10px
      justify-content: end

      p
        display: none

  .levelImage
    margin-right: 3px

  .level
    @media only screen and (max-width: $mobileMaxWidth)
      display: none

    p
      margin: 0

    .progress
      margin-top: 4px
      width: 160px
