@import ../../styles/variables

.optionsList
  list-style: none
  padding: 0
  width: 100%
  z-index: 405

  li
    button
      margin: 0
      height: 100%
      width: 100%
      padding: 8px 10px
      font-size: 13px
      cursor: pointer
      background: transparent
      border: none
      text-align: left
      display: flex
      align-items: center

      img
        width: 14px
        height: 15px
        margin-right: 4px

    &:hover, &.active
      background-color: #f2f3f5

.dropdown
  display: block

  .label
    display: block
    color: #6d7885
    overflow: hidden
    padding-bottom: 4px
    padding-top: 2px
    text-overflow: ellipsis
    white-space: nowrap
    font-size: 13px

  .container
    position: relative

    .dropdownButton
      width: 100%
      font-size: 14px
      line-height: 20px
      position: relative
      background-color: #f2f3f5
      -webkit-tap-highlight-color: transparent
      align-items: center
      border-radius: $borderRadius
      box-sizing: border-box
      border: 0.5px solid #cbcccd
      color: #6d7885
      height: 36px
      margin: 0
      padding: 0 12px
      cursor: pointer
      display: flex
      justify-content: space-between

      &:focus, &:active, &:hover
        outline: none
        border-color: #1976d2
        //box-shadow: rgba(25, 118, 210, 0.25) 0 0 0 0.05rem

      &.selected
        color: #000

      span
        overflow: hidden
        white-space: nowrap
        display: block
        text-overflow: ellipsis

        img
          width: 18px
          height: 20px
          margin-right: 5px
          float: left

        .placeHolder
          color: #6d7885

      .arrow
        display: flex
        margin-top: 1px

        svg
          width: 24px
          height: 24px
          fill: #6d7885

      .clear
        background: transparent
        border: none
        margin: 0
        padding: 0
        cursor: pointer

        svg
          margin-top: 2px
          width: 18px !important
          height: 18px !important

          &:hover
            fill: #3d434b

    &.open
      .dropdownButton
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

    &.disabled
      opacity: .5
      cursor: default

  .optionsList
    position: absolute
    background-color: #FFFFFF
    box-shadow: 0 0 2px rgba(0,0,0,0), 0 4px 16px rgba(0,0,0,.08)
    border: 1px solid #e0e0e0
    top: 36px
    border-bottom-left-radius: $borderRadius
    border-bottom-right-radius: $borderRadius
    max-height: 200px
    overflow: hidden
    overflow-y: scroll

    li
      &:last-of-type
        border-bottom-left-radius: $borderRadius
        border-bottom-right-radius: $borderRadius
