@use '../../../styles/variables' as variables

.component
    ul
        list-style: none
        padding: 0
        margin: 0

    li
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: variables.$fontSizeHeadline

        &:last-of-type
            margin-bottom: 0

        svg
            width: 19px
            height: 19px
            min-width: 19px
            fill: var(--icon-color-secondary)
            margin-right: 8px

    .info
        display: flex
        flex-direction: column
        flex: 1
        min-width: 0

    .key
        color: var(--text-color-secondary)

    .value
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 4px

        & > div
            height: 19px

    .map
        margin-top: 12px
        height: 180px

        & > div
            border: var(--input-border)
            border-radius: var(--border-radius)
            height: 100%

    .mapLinks
        list-style: none
        margin: 12px 0 0
        padding: 12px 0 0
        border-top: 1px solid var(--input-border-color)

        li
            margin-bottom: 8px
            font-size: variables.$fontSizeHeadline

            &:last-of-type
                margin-bottom: 0
