@import ../../styles/variables
@import ../../styles/animations

.screenSpinner
  margin: 18% auto 0
  width: 350px
  background-color: #FFF
  border-radius: $borderRadius
  box-shadow: 0 0 8px rgba(0,0,0,.12),0 16px 16px rgba(0,0,0,.16)
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

  svg
    margin: 40px 0 10px
    width: 50px
    height: 50px
    animation: animation-spin 1s linear infinite

  .text
    width: 100%
    text-align: center
    margin: 20px 0 30px
