@import ../../../styles/variables

.component
  position: relative
  padding: 15px

  .emptyContent
    text-align: center
    padding: 5px
    width: 100%
    color: $colorTextSecond

  .formElement
    margin-top: 15px

  p
    &:first-of-type
      margin-top: 0

    &:last-of-type
      margin-bottom: 0

  .tagList
    margin-top: 5px
    display: flex

    li
      margin-right: 5px
