@import ../../styles/variables

.progress
  height: 2px
  background-color: #d3d9de
  min-width: 100px
  border-radius: $borderRadius

  .line
    border-radius: $borderRadius
    background-color: #447bba
    height: inherit
