@import ../../styles/variables

.container
  margin-top: 20px
  padding: 15px
  width: 100%
  background: #fff
  border-radius: $borderRadius
  box-shadow: 0 0 0 1px rgba(0,0,0,.12)

  .header
    border-bottom: .5px solid #d7d8d9
    margin: -5px -15px 15px -15px
    padding: 0 10px 10px 15px
    display: flex
    justify-content: space-between

    .title
      font-size: 1rem
      font-weight: 500
      margin: 5px 0 0 0
