@import ../../styles/variables

.rightControlContainer
  position: absolute
  right: 0
  top: 0
  margin-top: 0
  border: 0.5px solid $borderInputColor
  box-shadow: none

  label
    white-space: nowrap

.mapContainer
  width: 100%
  height: 100%
  border-radius: $borderRadius

  & > div
    border-radius: $borderRadius
    height: 100%
    outline: none
    border: none

  .leftControls, .rightControls
    position: absolute
    z-index: 402
    top: 90px
    left: 10px
    height: calc(100% - 20px)

    button
      padding: 8px 9px
      min-height: 33px
      margin-bottom: 5px
      border: .5px solid $borderInputColor !important

      &:last-of-type
        margin-bottom: 0

  .bottomControls
    position: absolute
    z-index: 402
    bottom: 10px
    left: 10px

  .rightControls
    left: auto
    top: 10px
    right: 10px

    .mapCategoryContainer
      @extend .rightControlContainer
      width: fit-content
      max-height: 100%
      overflow: hidden
      overflow-y: scroll

    .mapLayersContainer
      @extend .rightControlContainer
      width: fit-content

    .mapLayersList, .mapPointsTypeList, .mapCategoryList, .mapAdditionalList
      margin: -10px -10px 5px

      li
        padding: 2px 8px
        border-radius: $borderRadius

        &:hover
          background-color: #ebedf0

    .mapCategoryList
      margin: -10px -10px -10px

      .allCategories
        border-radius: 0
        border-bottom: .5px solid $borderInputColor
        margin-bottom: 4px
        padding-bottom: 4px

    .mapPointsTypeList, .mapAdditionalList
      margin-top: 5px
      padding-top: 5px
      border-top: 0.5px solid $borderBottomColor

    .mapAdditionalList
      margin-bottom: -10px

  .searchControl
    position: absolute
    z-index: 402
    top: 10px
    left: 56px
    min-width: 300px

    @media only screen and (max-width: $mobileMaxWidth)
      min-width: 240px

    & > div
      & > div
        background-color: #FFF !important

    ul
      top: 33px !important
      border-width: .5px !important
      box-shadow: none !important

  .mapCoordinatesControl
    padding: 2px 6px
    font-size: $fontSizeCaption
    cursor: pointer
    border: 0.5px solid $borderInputColor !important
    box-shadow: none
    display: flex
    align-items: center

    b
      font-weight: 700
      margin-right: 4px

      &:last-of-type
        margin-left: 4px

    input
      border: 0
      outline: none
      width: 70px
      font-size: 1em
      background: $inputBackgroundColor

    button
      padding: 2px 4px
      min-height: 16px
      margin-left: 5px
      margin-right: -4px

.popup
  padding: 10px

  .link
    display: block
    width: 300px
    height: 200px
    background-image: url('/images/no-image.svg')
    background-position: center
    background-size: cover
    position: relative

    .rating
      position: absolute
      left: 8px
      top: 8px

    .bottomPanel
      position: absolute
      bottom: 10px
      left: 10px
      display: flex

  .image
    object-fit: cover
    border-radius: $borderRadius $borderRadius 0 0
    height: 100%

  .title
    font-size: $fontSize
    font-weight: 400
    margin: 8px 8px

  & > div:first-of-type // borders
    border-radius: 4px

    & > div // content
      margin: 0px
      margin-right: -1px

      & > p
        margin: 0 !important

  & > a:first-of-type // close button
    top: 10px
    right: 10px

.markerUser
  border-radius: 50%
  padding: 3px !important
  background: #ffffff
  border: 1px solid rgba(0,0,0,.22)

.markerPhoto
  border-radius: 4px
  border: 1px solid #FFF
  object-fit: cover
  background-image: url('/images/no-image.svg')
  background-position: center
  background-size: cover
  background-color: $inputBackgroundColor

.loader
  position: absolute
  top: 10px
  right: 10px
  z-index: 450
  height: auto !important
  padding: 8px 10px 4px 10px
  border-radius: $borderRadius
  background: rgba(242, 243, 252, 0.7)

  svg
    width: 16px
    height: 16px

