@use '../../../../styles/mixins' as variables

.filters
    display: flex
    gap: 10px
    flex-wrap: wrap

    > *
        flex: 1
        min-width: 140px

    @media only screen and (max-width: variables.$mobileMaxWidth)
        flex-direction: column
