@use '../../../styles/mixins' as variables

.tierChip
    font-size: var(--font-size-caption)
    font-weight: 500
    border-radius: 10px
    width: max-content

@each $tier in 'bronze', 'silver', 'gold'
    .tier--#{$tier}
        background: color-mix(in srgb, var(--color-tier-#{$tier}) 15%, transparent) !important
        color: var(--color-tier-#{$tier}) !important
