@import ../../styles/variables

.commentList
    .loginButton
        margin: 5px auto 0 !important

    .commentItem
        display: flex
        margin-bottom: 5px

        &.answer
            margin-left: 40px

        .block
            margin-top: 5px
            display: flex
            align-items: flex-start
            width: 100%

            &:hover
                .answerButton
                    opacity: 1 !important

            .content
                margin-left: 10px
                width: 100%

                p
                    margin-bottom: 0

                .info
                    font-size: $fontSizeHeadline
                    color: var(--text-color-secondary)
                    display: flex

                    .answerButton
                        opacity: 0
                        margin-left: 10px
                        padding: 0
                        height: auto
                        line-height: normal
                        min-height: 0
                        background: none
                        transition: opacity .3s

    .commentForm
        margin-top: 5px
        display: flex
        align-items: flex-start

        .userAvatar
            margin-right: 10px

        .submitButton
            margin-left: 5px
            min-height: 36px

        .textarea
            flex: 1
            font-family: var(--font-family), serif
            font-size: var(--font-size)

    .formSection
        margin-top: 15px

    .loginContainer
        margin-top: 5px
        padding: 10px 10px 0 10px
        text-align: center
        color: var(--text-color-secondary)

        &.topBorder
            border-top: var(--container-border-separator)
