@import ../../styles/variables

.reputation
    display: flex
    justify-content: space-between
    border-radius: var(--border-radius)
    background-color: var(--icon-color-secondary)
    width: fit-content
    padding: 1px 6px
    color: #FFF
    font-size: 12px

    &.red
        background-color: var(--color-red)

    &.green
        background-color: var(--color-green)
