.component
  display: flex

  li
    font-size: .9em
    color: rgba(0, 0, 0, 0.6)

    a
      font-size: 1em

    &:not(:last-of-type)
      &:after
        content: '/'
        user-select: none
        margin-left: 8px
        margin-right: 8px

