@use '../../../styles/mixins' as variables

.component
    border-radius: var(--border-radius)
    background-color: var(--modal-background)
    position: relative
    box-shadow: var(--container-shadow)

    .content
        padding: 15px
        display: flex
        gap: 15px

        @media only screen and (max-width: variables.$mobileMaxWidth)
            flex-direction: column

        &:before
            border-radius: var(--border-radius)
            box-shadow: var(--container-shadow)
            content: ""
            height: 100%
            left: 0
            pointer-events: none
            position: absolute
            top: 0
            width: 100%

        .avatarColumn
            flex-shrink: 0

        .avatar
            display: block
            border-radius: var(--border-radius)
            border: var(--container-border-separator)
            margin-bottom: 5px
            background-image: url('/images/no-avatar.png')
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            object-fit: cover

            @media only screen and (max-width: variables.$mobileMaxWidth)
                width: 100%
                height: 100% !important

        .infoColumn
            flex: 1
            display: flex
            flex-direction: column
            gap: 15px

        .infoRow
            display: flex
            justify-content: space-between
            gap: 15px

            @media only screen and (max-width: variables.$mobileMaxWidth)
                flex-direction: column

        .levelImage
            margin: 0 2px

        .information
            min-width: 260px

            @media only screen and (max-width: variables.$mobileMaxWidth)
                min-width: auto

            li
                display: flex
                align-items: flex-start
                margin-bottom: 10px
                font-size: var(--font-size-headline)

                &:last-of-type
                    margin-bottom: 0

                svg
                    width: 18px
                    height: 18px
                    fill: var(--icon-color-secondary)
                    margin-right: 5px
                    margin-top: 1px

                .key
                    color: var(--text-color-secondary)
                    margin-right: 5px

                .value
                    display: flex

                    a
                        max-width: 120px
                        display: block
                        white-space: nowrap
                        text-overflow: ellipsis
                        overflow: hidden

                        @media only screen and (max-width: variables.$mobileMaxWidth)
                            max-width: 185px

            .online
                color: var(--color-green)
                font-weight: 700
                display: flex
                align-items: center

                &:before
                    content: ' '
                    width: 10px
                    height: 10px
                    margin-right: 5px
                    border-radius: 50%
                    background-color: var(--color-green)

    .rightColumn
        display: flex
        flex-direction: column
        gap: 12px

    .achievementsBadges
        display: flex
        flex-wrap: wrap
        gap: 8px
        width: 100%

    .header
        padding: 8px 15px
        border-bottom-left-radius: var(--border-radius)
        border-bottom-right-radius: var(--border-radius)
        display: flex
        text-align: center
        justify-content: space-between
        border-top: 0.5px solid rgba(0, 0, 0, 0.12)

        .actions
            button
                margin-top: 4px
